body     {
          background-color:#e4f7e4;
        }

.navbar  {
          width: 100%;
          height: 4%;
          background-color: white;
          }

#SALMA    {padding-bottom: 2%;

          }

#BEN     {
          color: black;
          text-align: center;

         }

#ABOUT   {
          color: black;

         }
#contact {
          color: black;
          text-align: left;

          }
#FILMS{
       color: black;
       padding-left: 5%;

}
#GALLERY{
         color: black;
         padding-right: 10%;

}
#CAMPAIGNS{
           color: black;
           padding-left: 5%;

}
#PROJECTS{
          color: black;

}
#FOOTER{background-color: white;

}
